@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

.introduction {
    padding: 0 1rem;
}

.form {
    padding: 1rem 1rem 0 1rem;

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--borderColor);
    }

    &:last-of-type {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }

    .section-title {
        margin: 0.5rem 0;
    }

    &-column {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
    }

    label {
        font-size: 0.9rem;
        font-weight: 700;
        margin-bottom: 0.4rem;

        .asterisk {
            color: #e81d25;
        }
    }

    .field-content {
        flex: 1;
        display: flex;
        position: relative;

        .input {
            padding: 0.7rem;
            flex: 1;
            background-color: var(--backgroundColor);
            border: 1px solid var(--borderColor);
            border-radius: 5px;
            font-size: 1rem;
            font-weight: 300;

            &.success {
                border: 1px solid var(--success);
            }

            &.warning {
                border: 1px solid var(--warning);
            }

            &.currency-indicator {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        .select {
            padding: 0.7rem;
            flex: 1;
            background-color: var(--backgroundColor);
            border: 1px solid var(--borderColor);
            border-radius: 5px;
            font-size: 1rem;
            font-weight: 300;
            background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat
                right;
            -webkit-appearance: none;
            background-position-x: 341px;
            background-size: 10px 10px;

            &.success {
                border: 1px solid var(--success);
            }

            &.warning {
                border: 1px solid var(--warning);
            }
        }

        .button-group {
            flex: 1;
            display: flex;
            flex-wrap: wrap;

            .button-element {
                padding: 2px;

                &.total-columns-2 {
                    width: 48.9%;
                }
                &.total-columns-3 {
                    width: 32%;
                }
                &.total-columns-4 {
                    width: 23.9%;
                }
            }

            button {
                padding: 0.7rem;
                background-color: var(--backgroundColor);
                border: 1px solid var(--borderColor);
                border-radius: 5px;
                font-size: 1rem;
                font-weight: 300;
                width: 100%;
                cursor: pointer;

                &[selected='true'] {
                    border: 1px solid var(--success);
                }

                &:not([selected='true']) {
                    &:hover {
                        background: var(--hoverColor);
                    }
                }
            }
        }

        .warning {
            color: var(--warning);
        }

        .material-symbols-outlined {
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(-50%, 40%);

            &.warning {
                color: var(--warning);
            }

            &.success {
                color: var(--success);
            }
        }

        &.currency {
            .currency-symbol-section {
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #eeeeee;
                border: 1px solid var(--borderColor);
                border-right: 0;
                border-radius: 5px 0 0 5px;
            }
        }
    }

    .checkbox-field-content {
        display: flex;
        align-items: baseline;

        input {
            cursor: pointer;
        }

        .checkbox-description {
            margin-left: 0.4rem;
            font-size: 0.92rem;
            margin-bottom: 0;
        }
    }

    .warning-text {
        font-size: 0.7rem;
        margin-top: 0.3rem;
        color: var(--warning);
    }
}

.form-currency-input {
}

.continue-button-container {
    display: flex;
    margin-bottom: 2rem;
    padding: 0 1rem;
    margin-top: 0.5rem;

    .continue-button {
        background-color: var(--success);
        color: #fff;
        padding: 0.7rem;
        flex: 1;
        border: 1px solid var(--borderColor);
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 300;
        cursor: pointer;
    }
}

.footer {
    border-top: 1px solid var(--borderColor);
    padding: 0.5rem 1rem;

    p.text {
        font-weight: 300;
        font-size: 0.74rem;
        text-align: justify;
    }
}
